In [1]:
import pandas as pd

In [20]:
df = pd.read_excel("https://www.eia.gov/dnav/pet/hist_xls/RBRTEd.xls", sheet_name=1, skiprows=4, engine='xlrd',header=None)

In [21]:
df.head()

           0      1
0 1987-05-21  18.45
1 1987-05-22  18.55
2 1987-05-25  18.60
3 1987-05-26  18.63
4 1987-05-27  18.60

In [22]:
#df range to be from 1941
df.loc[1941:, :]
df.columns = ['Date', 'Price']
df.head()

        Date  Price
0 1987-05-21  18.45
1 1987-05-22  18.55
2 1987-05-25  18.60
3 1987-05-26  18.63
4 1987-05-27  18.60